* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #ff9500 0%, #ffd700 100%);
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.tarjeta {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.foto {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 3px solid #333;
    object-fit: cover;
}

.nombre {
    font-size: 30px;
    color: #333;
    padding: 5px;
}

.descripcion {
    font-size: 16px;
    color: #333;
    padding: 10px;
}

.boton {
    background-color: #656565;
    color: white;
    border-radius: 12px;
    padding: 10px 25px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
}

.boton:hover {
    background-color: #ff9500;
    color: black;
}