* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: all 0.3s ease;

}

.navbar ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.navbar .btn {
    background-color: #575757;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin-right: 20px;
    transition: all 0.3s ease;
}

.navbar .btn:hover {
    background-color: #777;
}

@media (max-width: 768px) {

    .navbar .logo {
        margin-left: 0;
        margin-bottom: 15px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    .navbar ul li {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }

    .navbar .btn {
        margin: 10px 20px;
    }
}